admin/bookeez-backend/node_modules/

# Node modules
node_modules/

# Environment variables
.env

bookeez-backend/config/serviceAccountKey.json

# Sensitive configuration files
config/serviceAccountKey.json

